sudo: required
services:
  - docker

language: python

python:
  - 3.4
  - 3.5
  - 3.6

os:
  - linux
#  - osx

cache:
  directories:
  - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

before_install:
  - env
  - echo "$WEBKNJAZ"
install:
  - sudo apt-get install libenchant-dev
  - pip install --upgrade pip wheel
  - pip install --upgrade setuptools
  - pip install -r requirements-ci.txt
  - pip install codecov
  - pip install twine

script:
  - flake8 multidict tests
  - make mypy
  - pytest --cov=multidict tests
  - python setup.py check -rm
  - if python -c "import sys; sys.exit(sys.version_info < (3,6))"; then
        python setup.py check -s;
    fi

after_success:
  - codecov
  - ./run_docker.sh

env:
  matrix:
    # MULTIDICT_NO_EXTENSIONS environment variables
    # are considered as enabled if they are any non empty strings.
    - MULTIDICT_NO_EXTENSIONS=
    - MULTIDICT_NO_EXTENSIONS=X
    - secure: "YM/c9+Kn1fScix+e3A55vm7H8pK5zAd8odz+4OTkQvOtpOgHiHq08wE64vDUZYwlBVy6hltT6yIrbDVkW9gz2gkxqmneWo8iMb2xjVR5VAHfAytHAbVmTXL0J0egK7+r2gPbXhP7UNfnJEq3BCnlyN5HHge6hQeIpK9dTJv51wQrhq0KPmWvoPJ7opWQvaGhPbxTJ9DDCbnXoSxHasV6FRaRY32I3T1OrKdI3WPi6VwdCm3erlY754WuCbuAIM5+LllXFLE7j4YKioZTZlPA0GF4t8vTbMa/GwFvWqOA9nwuPM0lcYazFuCyvbZiOUvLZVRKhWfo6Qatvd9YkgcJK/4+wRwBNJFZNcOIYNjNw98PibN23d9tD3hBnFL4Op2IgQUTJmLKnWdj1orAtZozc26tO906gHHPbHY1HzKlFUYlaaMwjeH2kaeRuNYIfj+aGyPTLbIYehKJ2MU9v5moY0jLQJZP4Syz03fAgAcTj6iI9zC/ImN6NBWEBY059RvsGGGXuD5e/v8QCYySEsuYDiIpcoZnwwK1EWIjlRO5dedgm60ii0hrIdDJGjtAZM2ETTPJX3N9kn8g27WddVGUJU1dybeugjKrF2qUC/+NbG1RxMj12yg2QlhEVjRJDFSng0q0qP/8REq/AI7Y8OSenh1RRl2tSlRulNmHf9fajsY="

deploy:
  skip_cleanup: true
  provider: pypi
  user: andrew.svetlov
  password:
    secure: ZFCicrh4l5zraarOwAwLXzYyGLnrxMHAFEFxF6ZEpECamu4eDsbKAFM/ydYdHoL19ocLr5+Xg1fmgd5tjc29c2rHQh29iDFi7tWai2pDFw+WqeHaV6e7ZJEEnU29OpSRzkGIk+K27mn7ZsB97q3Rkg2JBYRBkeK6HNyZ5YgIaVssXXXuCi5LZ1Y0rg8Nbapes1RUqoHGWgBwlCjAVxp9U7RXqJ6jucHDGUHU+9AgnnlGI7Cqs3xLqp4/xt2VoIjL0XwG2y05WLLpEF3Jwtj2voiPsnSTpUwklXVr1rEwScPCMlImxmWmudvh7xcPtcK9IOHIvk6y/lmNHJeevRn+df50LtBdr+0Wrq/t3Tt5d05XKCgqaLtw2P4GYNfTsx1RmQjHzUlfHKke7UZ1P+GsZTKN9nLKVdFTi2YzQ0TVmr/JjAmVqldRBOvEMnVoDn1rj1gdHMIu4d/gRVTcSS3riey+L2o6NwKjoc7aV5Uz47Z7fjz09Q6xml9eBWAHx9O07Iq+BaCikhBzeHGo+AkIzGMQdCSyQ8tTjQtEq6zWGxolZQFJeW9glTGLSYMfiVaPDEyqxaDm/QKssnZiEIbq1YM018C6ojiA3xbPJrwSZ8l/mnCkxrIcbKcwwtaHFPyP/FicePT01oJAXx08wnwe5H2l6lqkSGgRnGendZNeEuQ=
  distributions: "sdist"
  on:
    tags: true
    all_branches: true
    condition: "-z $MULTIDICT_NO_EXTENSIONS"
